@page "/"
@attribute [StreamRendering]
@using Duende.IdentityModel.Client
@using Microsoft.AspNetCore.WebUtilities
@using System.Net
@inject NavigationManager NavManager
@inject IConfiguration Configuration

<PageTitle>Home</PageTitle>

<h1>Hello, Athena!</h1>

<p>
    Athena Health Server: @AthenaServer
</p>

@if (string.IsNullOrEmpty(Code))
{
    <a href="@GetStartUrl()" rel="noreferrer" class="btn btn-primary">Login</a>
}
else
{
    <p>Error: @Error</p>
    <p>PatientId: @PatientId</p>
    <p>Uuid: @Uuid</p>
    <p>AccessToken: @AccessToken</p>
    <p>RawToken: @RawToken</p>
    <p>Code: @Code</p>
    <p>Scopes: 
        <ul>
            @foreach (var scope in TokenScopes.Split(" "))
            {
                <li>@scope</li>
            }
        </ul>
    </p>
    <p>NeedPatientBanner: @NeedPatientBanner</p>
    <p><a href=@SmartUrl class="btn btn-secondary">SmartUrl</a></p>

}

@code {
    public string Code { get; set; }
    public string AccessToken { get; set; }
    public string PatientId { get; set; }
    public string RawToken { get; set; }
    public string Error { get; set; }
    public string TokenScopes { get; set; } = "";
    public string Uuid { get; set; }
    public bool NeedPatientBanner { get; set; }
    public string SmartUrl { get; set; }

    public string AthenaServer = "https://ap22sandbox.fhirapi.athenahealth.com/demoAPIServer";

    public string GetStartUrl()
    {
        string[] scopes = ["openid", "profile", "patient/*.read", "launch/patient"];
        var scope = "openid%20profile%20patient/*.read%20launch/patient";
        var redirectUrl = Configuration["AthenaHealth:RedirectUrl"];
        var audience = WebUtility.UrlEncode(AthenaServer);// "https%3A%2F%2Fap22sandbox.fhirapi.athenahealth.com%2FdemoAPIServer";
        var clientId = Configuration["AthenaHealth:ClientId"];
        var url = $"{AthenaServer}/oauth2/authorize?state=defaultState&scope={scope}&response_type=code&redirect_uri={redirectUrl}&aud={audience}&client_id={clientId}";
        return url;
    }

    protected override async Task OnInitializedAsync()
    {
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("code", out var code))
        {
            Code = code;

            var client = new TokenClient(
                new HttpClient() { BaseAddress = new Uri(AthenaServer + "/oauth2/token") },
                new TokenClientOptions()
                    {
                        ClientId = Configuration["AthenaHealth:ClientId"],
                        ClientSecret = Configuration["AthenaHealth:ClientSecret"]
                    });
            var tokenResponse = await client.RequestAuthorizationCodeTokenAsync(Code, Configuration["AthenaHealth:RedirectUrl"]);
            Error = tokenResponse.ErrorType + ": " + tokenResponse.Error + " " + tokenResponse.ErrorDescription;
            RawToken = tokenResponse.Raw;
            if (tokenResponse.Json.HasValue)
            {
                PatientId = tokenResponse.Json.Value.GetProperty("patient").GetString() ?? "-";
                TokenScopes = tokenResponse.Json.Value.GetProperty("scope").GetString() ?? "-";
                Uuid = tokenResponse.Json.Value.GetProperty("uuid").GetString() ?? "-";
                NeedPatientBanner = tokenResponse.Json.Value.GetProperty("need_patient_banner").GetBoolean();
                SmartUrl = tokenResponse.Json.Value.GetProperty("smart_style_url").GetString() ?? "-";
            }
        }
    }

}